<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <hr>
    <hr>
    <h1>Menu Principal</h1>
    <hr>
    <hr>
    <h2>Cadastrar<a th:href="@{cadastrar}"> Sala</a> </h2>

<table>
    <tr>
        <td>Id</td>
        <td>Nome</td>
        <td>Numero</td>
        <td>Capacidade</td>
        <td>Status</td>
    </tr>
    <tr th:each="sala: ${salas}">
        <td th:text="${sala.id}"></td>
        <td th:text="${sala.nome}"></td>
        <td th:text="${sala.numero}"></td>
        <td th:text="${sala.capacidade}"></td>
        <td th:text="${sala.statusSala}"></td>
    </tr>
</table>

</body>
</html>